
 body {
    height: 100%;
    background-color: #ffc9b8;
    
}

.jumbotron{
    width: 100%;
    margin: auto;
    background-color: white;  
}

.script-font{
    font-family: 'Satisfy', cursive;
}

.main-section{
    background-color: white;
}


[id=text-bubble] {
    
    background-color: #F68BAE;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 5px 10px #cfafba;
}

[id=bottom-space] {
    
    height: 140px;
    background-color: #ffc9b8;
}


[id=footer] {
    background-color: #ffc9b8;
    margin-top: 10px;
    position: fixed;
    width: 100%;
    bottom: 10px;
 
}
@media only screen and (max-width : 600px){
[id=footer-name]{
    font-size: 16px;
}
[id=footer-email]{
    font-size: 14px;
}
[id=footer-social-media]{
    font-size: 10px;
}
[id=profile]{
    width: 50%;
    display: block;
}
[id=name]{
    font-size: 2em;
    padding-top: 5px;
}
[id=intro]{
    font-size: 1em;
}
}