body {
    height:100%;
}

h2 {
    font-size: 4vw;
}


.bg {
    background-image: url(../img/tulip.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    width: 75%;
    margin: auto;
    background-color: #dcd1bf; 
    background-image: url(../img/texture.jpg); 
    color: #2F2D23;
         
}

#profile {
     height: 150px;
    
}


nav {
    background-color: #090e08;
}

nav > ul> li> a:link {
    color: #e2e4e0;
}

nav > ul> li> a:hover {
    color: #e2e4e0;
 
}

nav > ul> li> a:visited {
    color: #e2e4e0;
}

.navbar-brand:link  {
    color: #e2e4e0;
}

.navbar-brand:hover {
    color: #e2e4e0;
}

.navbar-brand:visited {
    color: #e2e4e0;
}

